<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
</head>
<body>
     
     <h3>Shop</h3>

     <form action="/shopnow" method="post">
     {% csrf_token %}
        <label for="">Item</label>
        <input type="text" id="item" name="item" placeholder="Put in the cart" Required>
        <br>

        <label for="">Price</label>
        <input type="text" id="price" name="price" placeholder="item price" Required>
        <br>
        
        <button type="submit">Shop</button>
     </form>

</body>
</html>
